<div class="card-deck">
<div class="card-group">
<div class="card">
<div class="card-body">
<h5 class="card-title">PREGUNTA 1</h5>
<p class="card-text">SI: {{_ds.municipios[indexSelected].votacion[0].vot[0].vga}}</p>
<p class="card-text">NO: {{_ds.municipios[indexSelected].votacion[0].vot[1].vga}}</p>
<p class="card-text">VALIDOS: {{_ds.municipios[indexSelected].votacion[0].gen.vva}}</p>
<p class="card-text">NULOS: {{_ds.municipios[indexSelected].votacion[0].gen.vnu}}</p>
<p class="card-text">NO MARCADOS: {{_ds.municipios[indexSelected].votacion[0].gen.tnm}}</p>
<p class="card-text">TOTAL: {{_ds.municipios[indexSelected].votacion[0].gen.tot}}</p>
</div>
</div>
<div class="card">
<div class="card-body">
<h5 class="card-title">PREGUNTA 2</h5>
<p class="card-text">SI:{{_ds.municipios[indexSelected].votacion[1].vot[0].vga}}</p>
<p class="card-text">NO:{{_ds.municipios[indexSelected].votacion[1].vot[1].vga}}</p>
<p class="card-text">VALIDOS: {{_ds.municipios[indexSelected].votacion[1].gen.vva}}</p>
<p class="card-text">NULOS: {{_ds.municipios[indexSelected].votacion[1].gen.vnu}}</p>
<p class="card-text">NO MARCADOS: {{_ds.municipios[indexSelected].votacion[1].gen.tnm}}</p>
<p class="card-text">TOTAL: {{_ds.municipios[indexSelected].votacion[1].gen.tot}}</p>
</div>
</div>

<div class="card">
<div class="card-body">
<h5 class="card-title">PREGUNTA 3</h5>
<p class="card-text">SI: {{_ds.municipios[indexSelected].votacion[2].vot[0].vga}}</p>
<p class="card-text">NO: {{_ds.municipios[indexSelected].votacion[2].vot[1].vga}}</p>
<p class="card-text">VALIDOS:{{_ds.municipios[indexSelected].votacion[2].gen.vva}}</p>
<p class="card-text">NULOS: {{_ds.municipios[indexSelected].votacion[2].gen.vnu}}</p>
<p class="card-text">NO MARCADOS: {{_ds.municipios[indexSelected].votacion[2].gen.tnm}}</p>
<p class="card-text">TOTAL: {{_ds.municipios[indexSelected].votacion[2].gen.tot}}</p>
</div>
</div>

<div class="card">
<div class="card-body">
<h5 class="card-title">PREGUNTA 4</h5>
<p class="card-text">SI: {{_ds.municipios[indexSelected].votacion[3].vot[0].vga}}</p>
<p class="card-text">NO: {{_ds.municipios[indexSelected].votacion[3].vot[1].vga}}</p>
<p class="card-text">VALIDOS: {{_ds.municipios[indexSelected].votacion[3].gen.vva}}</p>
<p class="card-text">NULOS: {{_ds.municipios[indexSelected].votacion[3].gen.vnu}}</p>
<p class="card-text">NO MARCADOS: {{_ds.municipios[indexSelected].votacion[3].gen.tnm}}</p>
<p class="card-text">TOTAL: {{_ds.municipios[indexSelected].votacion[3].gen.tot}}</p>
</div>
</div>

<div class="card">
<div class="card-body">
<h5 class="card-title">PREGUNTA 5</h5>
<p class="card-text">SI: {{_ds.municipios[indexSelected].votacion[4].vot[0].vga}}</p>
<p class="card-text">NO: {{_ds.municipios[indexSelected].votacion[4].vot[1].vga}}</p>
<p class="card-text">VALIDOS: {{_ds.municipios[indexSelected].votacion[4].gen.vva}}</p>
<p class="card-text">NULOS: {{_ds.municipios[indexSelected].votacion[4].gen.vnu}}</p>
<p class="card-text">NO MARCADOS: {{_ds.municipios[indexSelected].votacion[4].gen.tnm}}</p>
<p class="card-text">TOTAL: {{_ds.municipios[indexSelected].votacion[4].gen.tot}}</p>
</div>
</div>

<div class="card">
<div class="card-body">
<h5 class="card-title">PREGUNTA 6</h5>
<p class="card-text">SI: {{_ds.municipios[indexSelected].votacion[5].vot[0].vga}}</p>
<p class="card-text">NO: {{_ds.municipios[indexSelected].votacion[5].vot[1].vga}}</p>
<p class="card-text">VALIDOS: {{_ds.municipios[indexSelected].votacion[5].gen.vva}}</p>
<p class="card-text">NULOS: {{_ds.municipios[indexSelected].votacion[5].gen.vnu}}</p>
<p class="card-text">NO MARCADOS: {{_ds.municipios[indexSelected].votacion[5].gen.tnm}}</p>
<p class="card-text">TOTAL: {{_ds.municipios[indexSelected].votacion[5].gen.tot}}</p>
</div>
</div>

<div class="card">
<div class="card-body">
<h5 class="card-title">PREGUNTA 7</h5>
<p class="card-text">SI:{{_ds.municipios[indexSelected].votacion[6].vot[0].vga}}</p>
<p class="card-text">NO: {{_ds.municipios[indexSelected].votacion[6].vot[1].vga}}</p>
<p class="card-text">VALIDOS: {{_ds.municipios[indexSelected].votacion[6].gen.vva}}</p>
<p class="card-text">NULOS: {{_ds.municipios[indexSelected].votacion[6].gen.vnu}}</p>
<p class="card-text">NO MARCADOS: {{_ds.municipios[indexSelected].votacion[6].gen.tnm}}</p>
<p class="card-text">TOTAL: {{_ds.municipios[indexSelected].votacion[6].gen.tot}}</p>
</div>
</div>
</div>
</div>
